<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :cover_art %><br>
    <%= f.file_field :cover_art %>
  </div>


  <fieldset>
    <legend>Images</legend>
    <% 3.times { f.object.images.build } %>
    <%= f.fields_for :images do |f| %>
      <div class="field">
        <%= f.label :file %><br>
        <%= f.file_field :file %>
      </div>
    <% end %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
