<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p><%= image_tag @album.cover_art_url("300x300>") %></p>
<% @album.images_urls("100x100>").each do |url| %>
  <p><%= image_tag url %></p>
<% end %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
